.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffe2d5, #c7fff5);
  padding-top: 100px;

  &__no-account {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 2em;
    font-weight: 700;

    .btn {
      color: rgb(147, 112, 219);
      display: inline-block;
      border-radius: 0;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
        //transition: width .3s;
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-bottom: 7vh;

    h1 {
      font-size: 3em;
      background: linear-gradient(to bottom, #db9370 30%, #70dbc9 70%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.4em;
    }

    span {
      font-weight: bolder;
    }
  }

  &__inner {
    display: flex;
    flex-grow: 1;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 4vh;
      align-items: center;
      flex-basis: 50%;
      flex-grow: 1;

      &__main {
        display: flex;
        flex-direction: column;
        gap: 4vh;

        &__edit {
          display: flex;
          gap: 3vw;
          padding-bottom: 3vh;
          border-bottom: solid 1px black;
          justify-content: center;
        }

        &__projects {
          border-bottom: solid 1px black;

          table {
            padding: 10px;

            th,
            td {
              padding: 10px;
            }

            td {
              text-align: start;
            }
          }
        }

        &__education {
          table {
            padding: 10px;

            th,
            td {
              padding: 10px;
            }

            td {
              text-align: start;
            }
          }
        }
      }
    }

    &__right {
      display: flex;
      flex-basis: 50%;
      flex-grow: 1;
      justify-items: center;

      &__picture {
        background: url("../../../images/colorful-music-notes-with-transparent-background-PNG.png");
        max-height: 80vh;
        min-width: 40vw;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
      }
    }
  }
}
