// post

.post {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../images/minimalizm-slovo-kraski.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    padding-top: 7vh;
    gap: 7vh;
    width: 60%;
    color: white;

    &__main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4vh;
      border-bottom: solid 1px white;
      padding-bottom: 5vh;

      p {
        font-size: 1.5em;
        padding: 0.5em;
        border-radius: 3px;
        font-weight: 100;
        background-color: rgba(147, 112, 219, 0.7);
        width: 100%;
      }

      textarea {
        width: 100%;
        font-size: 1.3em;
        padding: 0.5em;
        outline: none;
        border: none;
        border-radius: 3px;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 7vh;
      flex-grow: 1;

      &__post {
        height: 15vw;
        padding: 20px;
        background-color: white;
        border-radius: 3px;
        display: flex;
        margin-bottom: 5vh;
        align-items: center;
        color: black;

        &__left {
          padding-right: 20px;

          &__picture {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            background: linear-gradient(to bottom, #db9370 30%, #70dbc9 70%);
            position: relative;
            padding: 3px;

            &__container {
              background-color: transparent;
              height: 100%;
              border-radius: 50%;
              background-image: url("../../images/IMG_2331.jpg");
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }

          p {
            font-size: 1em;
            padding-top: 1vh;
            text-align: center;
          }
        }

        &__right {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          &__text {
            overflow: auto;
          }

          &__bottom {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-top: 20px;
            width: 100%;

            p {
              color: grey;
            }

            .iconify {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
